.invitations{
  padding: 0.5rem 2.25rem;
  .tr-item{
    cursor: pointer;
  }
  section{
    div.content{
      div.icon-header{
        display: inline-block;
      }
      div.imgRsvp{
        &:after {
          content: '\A';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 1;
        }
      }
    }
  }
}

.checkin {
  padding: 0.5rem 2.25rem;
  .checkin-tags {
    margin: 0.5em 0;
    .tags {
      margin-right: 1rem;
      &:nth-last-child() {
        margin: 0;
      }
      .tag {
        font-size: 1em;
        font-weight: 700;
        &.is-white {
          color: $grey-light;
        }
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}