.invitations{
  padding: 0.5rem 2.25rem;
  .tr-item{
    cursor: pointer;
  }
  section{
    div.content{
      div.icon-header{
        display: inline-block;
      }
      div.imgRsvp{
        &:after {
          content: '\A';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 1;
        }
      }
    }
  }
}

.checkin {
  padding: 0.5rem 2.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .checkin-header {
    width: 100%;
  }
  .checkin-tags-wrapper {
    width: 100%;
    .checkin-tags {
      margin: 0.5em 0;
      .tags {
        margin-right: 1rem;
        &:nth-last-child() {
          margin: 0;
        }
        .tag {
          &.DRAFT {
            background-color: $danger;
            color: $white;
          }
          &.BOOKED {
            background-color: $warning;
            color: $white;
          }
          &.RESERVED {
            background-color: $info;
            color: $white;
          }
          &.INVITED {
            background-color: $success;
            color: $white;
          }
          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .checkin-warning {
    width: 100%;
  }
  .checkin-table {
    width: 100%;
    .column {
      width: 100%;
      .table-wrapper {
        overflow-y: hidden;
        width: 100%;
        .table {
          overflow-x: visible;
          overflow-y: auto;
        }
      }
    }
  }
}



@media only screen and (max-width: $breakpoint-mobile) {
  .pagination.is-centered .pagination-previous {
    -ms-flex-order: 1;
    order: 1;
  }
  .pagination.is-centered .pagination-next {
    -ms-flex-order: 3;
    order: 3;
  }
  .pagination.is-centered .pagination-list {
    -ms-flex-order: 2;
    order: 2;
  }
  .checkin {
    .checkin-tags-wrapper {
      order: 1;
      width: 100%;
      .checkin-tags {
        // justify-content: center;
      }
    }
    .checkin-header {
      order: 2;
      width: 100%;
    }
    .checkin-table {
      order: 3;
      width: 100%;
    }
    .checkin-warning {
      order: 4;
      width: 100%;
    }
  }
}

.Dropdown-menu{
  max-height: 1500px !important;
}
.Dropdown-control{
  border: solid 0px black !important;
  border-bottom: 1px solid #b5b5b5 !important;
}
.menu-g{
  display: none;
}
.menu-p{
  width: 90%;
  margin-bottom: 20px;
}
.Dropdown-placeholder{
  color: #7a7a7a;
  font-size: 1rem;
  font-weight: 700;
}
.Dropdown-menu{
  border: 2px solid #ccc !important;
  background-color: white !important;
}
@media (min-width: 769px ){
  .menu-g{
     display: block;
  }
  .menu-p{
    display: none;
 }
}
