div.sendrsvp {
  height: 100%;
  div.rsvpusers {
    overflow: auto;
    height: 250px;
    p.selection{
      border-bottom: 1px solid gray;
      margin: 3px
    }
  }
}
div.rsvpDate{
  border-right: 1px solid gray;
  .date{
    text-transform: uppercase;
  }
}
div.imgRsvp{
  height: auto;
  width: 400px;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    opacity: 1;
  }
  .dropzone {
    position: absolute !important;
    top: 50%;
    left: 50%;
    z-index: 900;
  }
}
