.Chat-Event {
  display: flex;
  //width: 95%;
  height: 100%;
  margin: 0 auto;
  .ant-menu-item-icon {
    top: 12px;
  }
}

.drawerMobile {
  .ant-drawer-body {
    flex-grow: 1;
    padding: 24px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
  }
}

.ChatEviusLan {
  display: flex;
  width: 95%;
  height: 100%;
  margin: 12px auto;
  min-width: 347px;
  z-index: 999999999;
  border: none;
  border-radius: 10px;
  .mdl-card__supporting-text {
    width: 223px;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.siderContentFixed {
  position: fixed;
  width: 400px;
  height: 90%;
  height: calc(100% - 64px);
  top: 64px;
  right: 0;
}

.Chat-Event {
  .ant-tabs, .ant-tabs-content-holder, .ant-tabs-content {
    width: 100%;
    height: 100%;
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin: 0;
  }
  .asistente-list {
    width: 95%;
    margin: 12px auto;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .ant-tabs-tabpane {
    margin: 0 auto 12px;
  }
}

/*  .asistente-chat-list {
  height: 80vh;
}  */

.asistente-list {
  overflow-y: auto;
  height: 70vh;
  overflow-x: hidden;
}

.asistente-list::-webkit-scrollbar {
  width: 9px;
}
.asistente-list::-webkit-scrollbar-thumb {
  background-color: rgba(73, 75, 75, 0.5);
  border-radius: 20px;
  border: 2px solid rgba(73, 75, 75, 0.5);
}
.asistente-list::-webkit-scrollbar-track-piece {
  background-color: #f5f5f500;
}

// boton mobile para visualizar el chat del curso
.chat-evius_mobile {
  display: none;
  @media screen and (max-width: $breakpoint-mobile) {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 2%;
    right: 41vw;
    .ant-btn-icon-only.ant-btn-lg {
      width: 45px;
      height: 45px;
      padding: 4.9px 0;
      font-size: 14px;
      border-radius: 48px;
      background-color: #ddd;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .ChatEviusLan {
    position: absolute;
    top: 29%;
    left: 0;
    width: 100%;
    height: 85%;
    min-width: 347px;
    z-index: 999999999;
    margin-left: 0px;
  }
  .collapse-chatEvent {
    display: none;
  }
  .ChatTabs {
    width: 100%;
  }
  .asistente-list {
    overflow-y: auto;
    height: 45vh;
  }
  .asistente-chat-list {
    height: 70vh;
    .ant-list-bordered {
      border: 1px solid #fafafa;
      border-radius: 2px;
      overflow-y: auto;
      height: 35vh;
    }
  }
  // .ChatEvius {
  //   width: 100vw;
  //   height: 30vh;
  // }
}
.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0px calc(50% - 27px / 2) !important;
}
