section.landing{
  .info {
    background-color: #eeeeee;
    .fecha {
      margin: 1.2rem;
      .fecha-uno, .fecha-dos {
        span {
          margin: 0 auto;
          &.title {
            font-weight: 900;
            text-transform: uppercase;
          }
        }
      }
      .vertical-line {
        background: #bbbbbb;
        width: 1px;
      }
    }
    .lugar {
      .column {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .subtitle {
        font-weight: 900;
      }
    }
    .nombre {
      .column {
        h2 {
          font-weight: 900;
        }
      }
    }
    .descripcion-c {
      margin-top: auto;
    }
    .ver-mas {
      .aforo {
        // display: none; //temporal
        .titulo {
          font-weight: 900;
        }
      }
    }
  }
  .banner {
    position: relative;
    .info {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      .container {
        padding: 2em;
      }
    }
    .image {
      img {
        object-fit: cover;
      }
    }
  }
  .button-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .fav-button {
      cursor: pointer;
      background: $primary;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 45px;
    }
  }
  .data {
    .data-title {
      line-height: 1.1;
      margin-bottom: 2em;
      span {
        font-weight: 900;
      }
    }
  }
}