section.landing{
  .hero-head{
  }
  padding: 0;
  padding-bottom: 30px;
  .container-nombre{
    display: block;
    margin: 0% auto;
    font-size: 1.3rem;
  .nombre{
    .event-name{
      h2, span {
        color: white;
      }
    }
    .bold-text{
      font-weight: bolder !important;
      color: black;
    }
  }
}
  .banner-head{
    justify-content: center;
    align-items: center;
  }
  .columns.content-tabs{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }
  .info {
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .fecha {
      display: flex;
      flex-direction: row;
      .fecha-uno, .fecha-dos {
        span {
          margin: 0 auto;
          &.title {
            color: white;
          }
        }
      }
      .vertical-line {
        background: white;
        width: 1px;
      }
    }
    .lugar {
      color: white;
      .container-icon, .container-subtitle{
        display: inline-block !important;
      }
      span{
        color: white;
      }
      .column {
        display: flex;
        align-items: center;
      }
      .subtitle {
        font-weight: 900;
      }
    }
    .nombre {
      .column {
        h2 {
          font-weight: 900;
        }
      }
    }
    .descripcion-c {
      margin-top: auto;
    }
    .ver-mas {
      .aforo {
        // display: none; //temporal
        .titulo {
          font-weight: 900;
        }
      }
    }
  }
  .banner {
    position: relative;
    display: flex;
    align-items: center;
    .info {
      .container {
        padding: 2em;
      }
    }
    .image {
      img {
        object-fit: cover;
      }
    }
  }

  .button-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .fav-button {
      cursor: pointer;
      background: $primary;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 45px;
    }
  }
  .data {
    .data-title {
      line-height: 1.1;
      margin-bottom: 2em 0;
    }
  }
  .title-frame{
    padding: 13px;
  }
  .subtitle {
    font-weight: 900;
  }
  .image-4-1{
    max-width: 100%;
  }
  .arrows {
    .arrow {
      &.left, &.right {
        display: block;
        position: absolute;
        z-index: 999;
        top: 50%;
        transform: translateY(-50%);
        svg {
          width: 2rem;
          height: 2rem;
          vertical-align: middle;
          cursor: pointer;
          path {
            fill: $white;
          }
        }
      }
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }
  .hero-body{
    padding: 0;
    margin-top: -21px;
    // display: flex;
    // justify-content: center;

  .description-container{
    text-align: justify;
    margin-top: 3%;

    .title-description{
      display: block;
      margin: 0% auto;
      font-weight: bold;
      font-size: 1.6rem !important;
    }
    .description{
      display: block;
      margin: 0% auto;
      text-transform: lowercase;
      font-size: 5rem;
      .ql-snow{
        border: none;
      
        .ql-editor{
          font-size: 1.2rem;
          letter-spacing: 0.2px;
          line-height: 1.50;
          padding: 0px;
          color: white !important;
          h2{
            text-align: left !important;
            font-weight: bold;
          }
          span, a{
            color: white !important;
          }
        }
      }
    }
  }
  .container-hero-landing{
    margin: -70px 4% auto; 
  }
  .container-nav-item{
    background: transparent;
    position: sticky;
    top: 0.4%;
    z-index: 100;
    justify-content: center;
      @media (max-width: 1020px) {
        position: relative;
        z-index: 1;
       }
    .nav-item{
      font-weight: 600;
      padding: 10px 20px 13px 10px  !important;
      a{
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;    
      
      }
    }
    .nav-item-active{
      font-weight: 600;
      padding: 10px 20px 13px 10px  !important;
      a{
        height: 3rem;
        border-bottom: solid $color-evius;
        width: 50%;
        padding-bottom: 13px;
        color: $color-evius !important;

      }
  }


      // Menú slider

      .component-slider {
        position: relative;
        width: 90%;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
      }
      
      .component-slider .slider-container {
        margin: 0 25px;
        overflow: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      
      .component-slider .slider-content {
        display: inline-block;
        transition: margin-left 0.15s ease-in;
      }
      
      .component-slider .caret {
        width: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        color: $color-evius;
      }
      .component-slider .caret-right {
        right: 0;
      }
      
      .component-slider .caret-left {
        left: 0;
      }
      
      .menu-bar {
        width: 100%;
      }
      
      .menu-item {
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
      }
      
      .menu-item:hover {
        // background: $blueKing;
        color: #ffffff;
      }
      .container-nav-items{
        li a{
            font-weight: bold;
        }
        .nav-items{
            border-bottom: 1px solid;
        }
      }
      

  }
  .container-map{
    .map-head{
      border: solid 2px #E0E0E0;
      padding: 13px;
      text-align: left;
      .subtitle{
        padding: 10px;
      }
    }
    .hours{
      padding-bottom: 0% !important;
    }
  }
}
  @media only screen and (min-width: $breakpoint-mobile) {
    .info{
      margin: 0 !important;
    }
    .section{
      padding: 3rem 1.5rem;
    }
  }


  @media only screen and (min-width: $breakpoint-tablet) {
    .info{
      flex: none;
    }
    .lugar{
      flex-direction: row !important;
    }
    .columns{
      flex-direction: row;
    }
  }
}

