section.landing .containerfenalco {
  // margin-left:180px;
  img {
    width: 351px;
    height: 450px;
  }
}

/* .ql-bubble .ql-editor img {
  width: 1033px;
} */
.Chat-Event {
  //width: 80% !important;
}

.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 10px !important;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #333f44;
  text-shadow: 0 0 0.25px currentColor;
  font-weight: bold;
  font-size: 14px;
}

.circularMask {
  border-radius: 100px;
}
.roundedMask {
  border-radius: 20px;
}

#img-informative {
  img {
    width: 100% !important;
  }
}
