section.landing .containerfenalco {
  // margin-left:180px;
  img {
    width: 351px;
    height: 450px;
  }
}

.ql-bubble .ql-editor img {
  width: 1033px;
}
.Chat-Event {
  //width: 80% !important;
}
