.container-calendar-speaker {
  .calendar-speakers {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(290px, 26rem));
    grid-gap: 40px;
  }

  .content-information-speakers {
    padding: 15px;
    .information-speakers {
      min-height: 5rem;
    }
  }
}

.ant-card-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff0 !important;
  border-top: 1px solid #f0f0f0;
}
