.container-calendar-speaker {
  .calendar-speakers {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(359px, 30rem));
    grid-gap: 40px;
  }

  .content-information-speakers {
    padding: 15px;
    .information-speakers {
      min-height: 5rem;
    }
  }
}
