.CourseProgressBar-container {
  position: relative;
  max-width: 36px;
  min-width: 36px;
  width: 36px;
}

.CourseProgressBar-innerContainer {
  position: fixed;
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.CourseProgressBar-lineContainer {
  width: 2px;
  height: 50px;
  background-color: #e89941;
}

.CourseProgressBar-stepContainer {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 3px;
}

/* .ant-steps-item-content {
  display: none !important;
} */
