.Step {
    background-color: #fff;
    color:#36393F;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #143851;
    transition: 0.4s ease;
}

.Step.active {
    border-color: #E89941;
    background-color: #E89941;
}
