.agenda-list {
  .date {
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid lighten($primary, 50%);
    }
    &.active {
      border-bottom: 1px solid $primary;
      .subtitle strong {
        color: $primary !important;
        text-align: start;
      }
    }
  }
}

//FIX. la imagen principal de la actividad algun componente le forza un alto fijo
.container_agenda-information {
  .activity_image {
    height: auto !important;
    max-height: 60vh;
  }
}

//**************** Agenda landing*******************//

.container-calendar-section {
  .container_calendar-description {
    padding: 0 15px;
  }
  .button-color-agenda {
    background-color: $color-prueba;
  }

  .container-calendar {
    min-width: 95%;
    @media (min-width: 1020px) {
      max-width: 65%;
    }
  }
  .container-calendar2 {
    min-width: 100%;
    @media (min-width: 1020px) {
      max-width: 65%;
    }
  }
  .container-calendar-space {
    margin-top: 6%;
    min-width: 30%;
    .button {
      font-size: 1.1rem;
      border-color: transparent;
      border-width: 1px;
      color: $evius-secundary;
      cursor: pointer;
      justify-content: center;
      padding-bottom: calc(1em - 3rem);
      padding-left: 0.75em;
      padding-right: 0.75em;
      padding-top: calc(1em - 3rem);
      text-align: center;
      white-space: nowrap;
      height: 4rem;
      &:focus {
        outline: none;
      }
    }
  }

  .space-align-container {
    display: flex;
    flex-wrap: wrap;
  }
  .space-align-block {
    margin: 8px 4px;
    flex: none;
  }
  .text-align-card {
    padding: 0 0.75rem;
  }
  .ant-card-bordered {
    border: 1px solid #f0f0f000;
  }
  .ant-page-header {
    padding: 16px 14px;
  }
  .container_agenda-information {
    margin-bottom: 3%;
    .site-page-header {
      border: 1px solid #ffffff00;
      .ant-page-header-heading-title {
        overflow: visible;
        white-space: normal;
      }
    }

    .magicland-agenda_information {
      background: rgb(20, 20, 20);
      color: white;
      p {
        color: white;
      }
      .card-header-title {
        font-size: initial;
        color: white;
      }
      .ant-page-header-heading-title {
        color: white;
        float: left !important;
      }

      .ant-tag-geekblue {
        color: #f5f5f5;
        background: #b5b5b5;
        border-color: #adc6ff;
      }
      section.landing *:not(span) {
        color: #fafafa;
      }
    }
    // stilos de la imagen de agenda
    .img-agenda-event {
      margin-bottom: 5px;
      object-fit: cover;
      img {
        width: auto;
        height: 225px;
      }
    }
    // estilos de la descripción de agenda
    .description-agenda {
      margin-left: 3%;
      margin-bottom: 1%;
      margin-right: 3%;
      text-align: left;
      font-size: 18px;
    }

    //estilo de panelistas
    .txt-agenda-Panelistas {
      margin-left: 3%;
    }

    //estilos del los tags
    .tag-agenda {
      margin-top: 4%;
    }

    //estilos de los speaker
    .Agenda-speaker {
      font-size: 18px;
      font-weight: 500;
      margin-left: 3%;
    }

    .icono_play-agenda {
      position: absolute;
      top: 50%;
      left: 50%;
      cursor: pointer;
      .anticon svg {
        display: inline-block;
        font-size: 43px;
      }
    }
    .agenda_information {
      padding: 20px;
      border: none;
      border-radius: 10px;
      border: 1px solid #b5b5b5;
      .ant-card-head-title {
        flex: initial;
        font-weight: 500;
        font-size: 24px;
      }
      h4 {
        color: black;
        font-size: larger;
        margin-bottom: 22px;
      }
      // .card-header {
      //   box-shadow: none;
      // }

      // .card-header-date {
      //   color: $title-agenda;
      //   justify-content: start;
      //   font-weight: 600;
      // }
      .date-activity {
        display: block;
        margin-right: 10%;
        margin-bottom: 5%;
        margin-left: 4%;
        font-weight: 400;
        color: #b5b5b5;
      }
      .card-header-title {
        justify-content: start;
        font-weight: bolder;
        font: normal normal 500 23px/25px $family-sans-serif;
        text-align: initial;
        p {
          margin-bottom: 0px;
        }
      }
      // .card-header-title {
      //   justify-content: start;
      //   font-weight: bolder;
      //   font: normal normal 500 23px/25px $family-sans-serif;
      //   text-align: initial;
      // }

      .container_calendar-description {
        .calendar-description {
          margin: 3% 0%;
        }
        .card-header-subtitle {
          justify-content: start;
          font-weight: 600;
          font-size: 1.06rem;
        }

        .category_calendar-tag {
          margin-right: 2%;
          font-size: 0.9rem;
        }
      }
      @media screen and (max-width: $breakpoint-mobile) {
        .ant-card-head-title {
          overflow: visible;
          font-size: 16px;
          white-space: break-spaces;
        }
        .date-activity {
          display: block;
          margin-right: 0%;
          margin-left: 20%;
          font-weight: 300;
          color: #949494;
          font-size: 11px;
        }
        .button-Agenda {
          width: 100%;
        }
        .img-agenda-event {
          margin-bottom: 5px;
          object-fit: cover;
          img {
            width: auto;
            height: 225px;
          }
        }
        // estilos de la descripción de agenda
        .description-agenda {
          margin-left: 0;
          margin-bottom: 0;
          margin-right: 0;
          font-size: 15px;
        }
        //estilo de panelistas
        .txt-agenda-Panelistas {
          margin-left: 1%;
        }
        //estilos de los speaker
        .Agenda-speaker {
          font-size: 14px;
          font-weight: 500;
          margin-left: 0;
        }
      }
    }
  }

  // Day tabs

  /** los important se colocaron por fuerza mayor para poder sobreescribir los estilos
 de bulma, si se encuentra una mejor solución porfavor optimizarlo**/

  .container-day_calendar {
    margin-bottom: 60px !important;
    .select-day {
      background-color: $evius-secundary !important;
      color: white !important;
      padding: 20px 0px;
      font-weight: bold;
      font-size: 2rem;
      border-bottom-color: #dbdbdb !important;
      margin: 6px;
      border-radius: 0;
      &:focus {
        color: white;
        border: none;
        background-color: $evius-secundary !important;
      }
    }

    .unselect-day {
      background-color: white !important;
      color: rgb(75, 69, 69) !important;
      padding: 20px 0px;
      font-weight: bold;
      font-size: 2rem;
      border-bottom-color: #dbdbdb !important;
      margin: 6px;
      border-radius: 0;
      &:focus {
        color: white;
        border: none;
        background-color: $evius-secundary !important;
      }
    }
  }
}
.btn-list-confencista {
  @media only screen and (max-width: $breakpoint-mobile) {
    position: absolute;
    top: 97px;
    left: -14px;
  }
}

.cardCustom .ant-card-body,
.cardCustom .ant-card-head {
  padding: 0 !important;
  margin: 0 !important;
}
// Card de agenda para mobile
.card-agenda-mobile {
  .agenda-hora {
    font-size: 8px;
    margin-top: 6%;
  }
  .tituloM {
    font-weight: 700;
    text-align: left;
    font-size: 12px;
  }
  .lugarM {
    font-size: 10px;
    color: grey;
  }
  // .speaker{
  //   .speaker-name{
  //     margin-left:12px;
  //     font-size:9px;
  //   }
  // }
}
// Card de agenda para desktop
.card-agenda-desktop {
  // hora de la agenda
  .agenda-hora {
    display: flex;
    align-items: center;
    text-align: center;

    .contenedor-estado-agenda {
      height: 79px;
      font-size: 10px;
      margin-left: 0%;
      margin-top: 3%;
      padding-left: 20%;
      padding-right: 20%;
    }
    .ant-timeline-item-last > .ant-timeline-item-content {
      min-height: 24px;
    }

    .ant-timeline-item-content {
      position: relative;
      top: -7.001px;
      margin: 0px 0 0 20px;
      word-break: break-word;
    }

    .ant-timeline-item {
      position: relative;
      margin: 0;
      padding-bottom: 25px;
      font-size: 14px;
      list-style: none;
    }
  }
  // contenido de la agenda
  .agenda-contenido {
    text-align: left;
    .titulo {
      font-weight: 700;
      text-align: left;
      font-size: 16px;
    }
    .lugar {
      font-weight: 700;
      font-size: 15px;
      color: grey;
    }

    .descripcion {
      .ant-comment-inner {
        display: flex;
        padding: 0px 0;
      }
    }
    .speaker {
      font-size: 75%;
      .speaker-name {
        margin-left: 15px;
      }
    }
  }
  .agenda-imagen {
    object-fit: cover;
    //max-height: 100%;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}
