.preloaderBg {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  top: 35vh;
  opacity: 0.8;
}

.preloader {
  margin: auto;
  background: url("../Assets/img/logoEviusVerde.svg") no-repeat center;
  background-size: 150px;
  width: 300px;
  height: 300px;
  opacity: 0.8;
}

.preloader2 {
  border: 5px solid #f3f3f3;
  border-top: 5px solid black;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: spin 1s ease-in-out infinite;
  position: relative;
  margin: auto;
  top: -280px;
  opacity: 0.8;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
