//Esto me preocupa diana que hubieramos agregado estos breakpoints toca quitarlos
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
.container_imgLoading {
  img {
    margin-top: -55px;
    height: 100%;
    width: 100%;
    margin-bottom: -69px;
    animation-name: animacionImagenes;
    animation-duration: 3s;
    animation-delay: 1s;
    position: relative;
  }
  @keyframes animacionImagenes {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.9;
    }
  }
  .ant-btn {
    position: fixed;
    top: 521px;
    background-color: rgba(0, 0, 0, 0.12);
    color: white;
    font-size: 39px;
    width: 193px;
    height: 69px;
    margin-left: -91px;
  }
  .ant-btn:hover {
    background: rgba(0, 0, 0, 0.07);
    color: #ffffff;
    box-shadow: 0 10px 25px -2px #f5f5f5;
    border: white;
  }
  iframe {
    height: 900px;
  }
  .anticon svg {
    display: inline-block;
    font-size: 150px;
  }
  @media only screen and (max-width: $breakpoint-mobile) {
    .ant-btn {
      position: absolute;
      top: -79px;
      background-color: rgba(0, 0, 0, 0.12);
      color: white;
      font-size: 26px;
      width: 147px;
      height: 42px;
      margin-left: -67px;
    }
    .anticon{
      position: absolute;
      top: 108px;
      margin-left: 8px;
    }
    .anticon svg {
      display: inline-block;
      font-size: 50px;
    }
  }
   @media only (min-width: 800px) and (max-width: $breakpoint-tablet) {
    .ant-btn {
      position: absolute;
      top: -79px;
      background-color: rgba(0, 0, 0, 0.12);
      color: white;
      font-size: 26px;
      width: 147px;
      height: 42px;
      margin-left: -67px;
    }
    .anticon{
      position: absolute;
      top: 118px;
      margin-left: 8px;
    }
    .anticon svg {
      display: inline-block;
      font-size: 50px;
    }
  }

}
