@import '~antd/dist/antd.css';
.container_imgLoading {
  img {
    margin-top: -55px;
    height: 100%;
    width: 100%;
    margin-bottom: -69px;
    animation-name: animacionImagenes;
    animation-duration: 3s;
    animation-delay: 1s;
    position: relative;
  }
  @keyframes animacionImagenes {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.9;
    }
  }
  .ant-btn {
    position: fixed;
<<<<<<< HEAD
    top: 700px;
    background-color: rgba(0, 0, 0, 0.30);
=======
    top: 400px;
    background-color: rgba(0, 0, 0, 0.12);
>>>>>>> da88a2d376e41cfadf1c77643eb3ff4bb42697d0
    color: white;
    font-size: 34px;
    width: 217px;
    height: 69px;
    margin-left: -98px;
  }
  .ant-btn:hover {
    background: rgba(0, 0, 0, 0.07);
    color: #ffffff;
    box-shadow: 0 10px 25px -2px #f5f5f5;
    border: white;
  }
  iframe {
    height: 900px;
  }
  .cortina {
    background-color: white;
    animation-name: animacionCortina;
    animation-duration: 2s;
    animation-delay: 1s;
  }
  @keyframes animacionCortina {
    0% {
      height: 1000px;
    }
    25% {
      height: 800px;
    }
    50% {
      height: 600px;
    }
    80% {
      height: 300px;
    }
    100% {
      height: 0px;
    }
  }
}
