$accordion-content-padding-top: 1em !default;
$accordion-content-padding-left: 1.25em !default;

.accordions{
  .accordion{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 1rem;
    &:not(:first-child) {
      .accordion-header {
        border-radius: 0;
      }
    }
    &:not(:last-child) {
      margin-bottom: 16px;
      .accordion-content {
        border-radius: 0
      }
    }
    .toggle, [data-action="toggle"]{
      cursor: pointer
    }
    .accordion-header{
      .toggle{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: rgba(10,10,10,0.2);
        border: none;
        border-radius: 290486px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 0.75em;
        height: 20px;
        width: 20px;
        max-height: 20px;
        max-width: 20px;
        min-height: 20px;
        min-width: 20px;
        outline: none;
        vertical-align: top;
        &:before{
          color: $white;
          display: flex;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          content: '\002B';
          line-height: 0;
          justify-content: center;
          align-items: center;
        }
        &:after{
          display: none
        }
      }
    }
    .accordion-body{
      overflow-y: hidden;
      max-height: 0;
      color: #4a4a4a;
      border: 1px solid #dbdbdb;
      border-radius: 0 0 4px 4px;
      border-top: none;
      -webkit-transition: max-height .2s ease;
      -moz-transition: max-height .2s ease;
      -o-transition: max-height .2s ease;
      transition: max-height .2s ease;
      .accordion-content{
        padding: $accordion-content-padding-top $accordion-content-padding-left;
      }
    }
    &.is-active{
      .accordion-header{
        .toggle {
          &:before {
            content: '\002D'
          }
        }
      }
      .accordion-body {
        max-height: 40em;
        overflow-y: auto;
      }
    }
  }
}


