.container_imgLoading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: white;
    img {
      margin-top: -55px;
      height: 100vh;
      width: 100vw;
      animation-name: animacionImagenes;
      animation-duration: 3s;
      animation-delay: 1s;
      position: relative;
    }
    @keyframes animacionImagenes {
      0% {
        opacity: 0.1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0.9;
      }
    }
    .ant-btn {
      position: fixed;
      bottom: 12%;
      background-color: rgba(0, 0, 0, 0.12);
      color: white;
      font-size: 39px;
      width: 193px;
      height: 69px;
      margin-left: -91px;
    }
    .ant-btn:hover {
      background: rgba(0, 0, 0, 0.07);
      color: #ffffff;
      box-shadow: 0 10px 25px -2px #f5f5f5;
      border: white;
    }
    iframe {
      height: 900px;
    }
    .anticon svg {
      position: absolute; 
      top: 270; 
      margin-left: 8px;
      display: inline-block;
      font-size: 150px;
    }

  
    @media only screen and (max-width: $breakpoint-mobile) {
      img {
        margin-top: 0px;
        height: 45vh;
        width: 100vw;
        margin-bottom: 0px;
      }
      .ant-btn {
        position: absolute;
        bottom: 53px;
        background-color: rgba(0, 0, 0, 0.12);
        color: white;
        font-size: 26px;
        width: 147px;
        height: 42px;
        margin-left: -67px;
      }
      .anticon {
        position: absolute;
        top: 108px;
        margin-left: 8px;
      }
      .anticon svg {
        display: inline-block;
        font-size: 50px;
      }
    }
  
  
    @media (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet) {
      img {
        margin-top: 0px;
        height: 80vh;
        width: 100vw;
        margin-bottom: 0px;
      }
      .ant-btn {
        position: absolute;
        bottom: 70px;
        background-color: rgba(0, 0, 0, 0.12);
        color: white;
        font-size: 26px;
        width: 147px;
        height: 42px;
        margin-left: -67px;
      }
      .anticon {
        position: absolute;
        top: 118px;
        margin-left: 8px;
      }
      .anticon svg {
        display: inline-block;
        font-size: 50px;
      }
    }
  }
  