//chaport estilos//
.chaport-container.chaport-container-positioned {
    right: auto !important;
    left: 82px !important;
    bottom: -11px !important;
  }
  .chaport-container.chaport-container-positioned .chaport-window {
    right: auto !important;
    left: -52px !important;
  }