// estilos del collapse del chat de los cursos de evius
// boton mobile para visualizar el chat del curso

// estilos del iframe del chat de los curso

// .ChatEvius {
//   position: absolute;
//   top: 23%;
//   left: 0;
//   width: 100%;
//   height: 62%;
//   min-width: 347px;
//   z-index: 999999999;
//   margin-left: 12px;
//   .mdl-card__supporting-text {
//     width: 223px;
//     height: 100%;
//     padding-top: 0;
//     padding-bottom: 0;
//   }
// }
// .button_regresar {
//   margin-bottom: 12px;
// }

// @media screen and (max-width: $breakpoint-mobile) {
//   .ChatEvius {
//     position: absolute;
//     top: 3%;
//     left: 0;
//     width: 18%;
//     height: 62%;
//     min-width: 300px;
//     z-index: 999999999;
//     margin-left: 12px;
//     position: relative;
//     height: 213px;
//     min-width: 308px;
//     z-index: 999999999;
//   }
//   .collapse-chatEvent {
//     display: none;
//   }
// }
