div.msg {
  padding-left: 12px;
  .msg_info {
    color: #00529b;
    background-color: #bde5f8;
  }
  .msg_success {
    color: #4f8a10;
    background-color: #dff2bf;
  }
  .msg_warning {
    color: #9f6000;
    background-color: #feefb3;
  }
  .msg_error {
    color: #d8000c;
    background-color: #ffd2d2;
  }
}
