div.stage{
  cursor: pointer;
  &.is-active{
    background-color: $primary;
    color: white
  }
  &.is-disabled{
    background-color: lightgray;
  }
}

.column .ticket{
  border-radius: 0;
}

.content-tabs{
  width: fit-content;
  box-shadow: none;
  .tab{
    height: fit-content;
    padding: 3px 18px;
    border-radius: 0;
  }
  p{
    font-size: 18px;
  }
  .columns .is-vcentered{
    align-items: center;
    justify-content: center;
  }
  .date-etapa{
    padding: 0;
    width: auto;
    height: auto;
  }
  .hasta{
    padding: 12px;
  }
}

.price{
  font-size: 1.2rem;
  padding-right: 16px;
}

.separador{
  height: 1px;
  margin: 1px 0;
}

.box-ticket{
  border-radius: 0;
}
.card-content{
  height: auto !important;
  .ticket{
    padding: 0px;
  }
  .no-tickets{
    color: grey;
    height: 100%;
    padding: 10px;
  }
}

.card-footer-item{
  flex-direction: column;
  .Subtotal{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px;
  }
}

.card-header-title{
  justify-content: center;
  font-size: large;
}

@media only screen and (max-width: 1024px) {
  .column .tickets-content{
    width: 100%;
  }
  .columns .content-tabs{
    width: 100%;
    .date-media{
      flex-direction: row;
      justify-content: center;
    }
  }
  .columns .tickets-frame{
    flex-direction: column !important;
    .resume{
      width: 100%;
      .card{
        display: flex;
        flex-direction: row;
        .card-content .media{
            flex-direction: row;
            height: 100px;
            .column .is-10{
              width: 100%;
            }
        }
        .card-footer-item{
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }
}
