@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900");
$font-path: "~react-widgets/lib/fonts";
$img-path: "~react-widgets/lib/img";
$family-sans-serif: "Montserrat", sans-serif;
$color-evius: #1cdcb7;
$evius-secundary: #009fd9;
// $evius-secundary: #0e1c35;
$color-prueba: #7fb744;
$title-agenda: #fb0b74;
$primary: $color-evius;
$pagination-current-background-color: #00b89c;
$pagination-current-border-color: #00b89c;
$input-shadow: transparent;
$input-focus-border-color: transparent;
$input-focus-box-shadow-color: transparent;
$tabs-border-bottom-color: #000000;
$tabs-border-bottom-width: 2px;
$tabs-link-hover-border-bottom-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-active-color: #000000;
$tabs-link-padding: 0.5em 3em;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$fontColor: #222222;

body {
  font-family: $family-sans-serif !important;
}

.box:not(:last-child) {
  margin-bottom: 0 !important;
}

.ant-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: auto;
  
  flex: auto;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  background: rgba(255, 255, 254, 0) !important;
  // background: rgba(255, 255, 254, 0.441) !important;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.ant-list-item-action {
  margin-left: -24px !important;
}

iframe {
  i .full-screen-widget__icon,
  i .full-screen-widget__icon--full {
    background: red;
  }
}

// estilos generales survey
.sv-container-modern {
  font-size: inherit !important;
  font-family: inherit !important;
}

.sv-container-modern__title {
  padding-top: 3em !important;
}

.sv-question__content {
  margin-top: 2em;
}

.sv-question__content {
  text-align: center;
}

.sv-question__content .sv-item {
  text-align: left;
}

.sv-body__page {
  margin: 0 !important;
}

.svxw-container-modern > .sv-body > div:first-child {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.sv-root-modern .sv-completedpage {
  background-color: transparent !important;
}

.sv-selectbase__label {
  display: flex;
  min-height: 5em;
  align-items: center;
  justify-content: center;
}

.ant-pagination {
  text-align: center;
}


// Botón de la conferencia en el home
.buttonVirtualConference {
  height: 70px;
  span {
    text-transform: uppercase !important;
    font-weight: bold;
  }
}

@import "~bulma/bulma";
@import "~react-widgets/lib/scss/react-widgets";
@import "~bulma-extensions/bulma-switch/src/sass/index";
@import "~bulma-extensions/bulma-steps/src/sass/index";
@import "~bulma-extensions/bulma-checkradio/src/sass/index";
@import "~react-quill/dist/quill.snow.css";
@import "~react-quill/dist/quill.bubble.css";

// ant desing
@import "~antd/dist/antd.css";

@import "./loading";
@import "./tickets";
@import "./msg";
@import "./accordion";
@import "./commons";
@import "./home/index";
@import "./home/header";
@import "./landing/index";
@import "./landing/speakers";
@import "./landing/wall";
@import "./events/aside";
@import "./events/event";
@import "./events/card";
@import "./events/general";
@import "./events/zoom";
@import "./events/datos";
@import "./users/import";
@import "./invitations/send";
@import "./invitations/invitations";
@import "./organization/profile";
@import "./certificados/editor";
@import "./certificados/points";
@import "./agenda/agenda";
@import "./landing/landing";
