@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900');
$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
$family-sans-serif: "Montserrat", sans-serif;
$color-evius: #00f0be;
$primary: $color-evius;
$pagination-current-background-color: #00b89c;
$pagination-current-border-color: #00b89c;
$input-shadow: transparent;
$input-focus-border-color: transparent;
$input-focus-box-shadow-color: transparent;
$tabs-border-bottom-color: #000000;
$tabs-border-bottom-width: 2px;
$tabs-link-hover-border-bottom-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-active-color: #000000;
$tabs-link-padding: 0.5em 3em;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
.box:not(:last-child) {
  margin-bottom: 0 !important;
}
@import "~medium-editor/dist/css/medium-editor.css";
@import "~medium-editor/dist/css/themes/default.css";
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/react-widgets/lib/scss/react-widgets";
@import '../../node_modules/bulma-switch/src/sass/index';
@import '../../node_modules/bulma-tooltip/src/sass/index';
@import '../../node_modules/bulma-checkradio/src/sass/index';


@import "./loading";
@import "./tickets";
@import "./msg";
@import "./accordion";
@import "./commons";
@import "./home/index";
@import "./home/header";
@import "./landing/index";
@import "./events/aside";
@import "./events/event";
@import "./events/card";
@import "./users/import";
@import "./rsvp/send";
@import "./rsvp/invitations";
@import "./organization/profile";

