.invitations {
  padding: 0.5rem 2.25rem;
  .tr-item {
    cursor: pointer;
  }
  section {
    div.content {
      div.icon-header {
        display: inline-block;
      }
      div.imgRsvp {
        &:after {
          content: "\A";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 1;
        }
      }
    }
  }
}

.checkin {
  max-width: 100%;
  .checkin-header {
    width: 100%;
  }
  .filter {
    width: 100%;
    margin-bottom: 10px;
  }
  .checkin-tags-wrapper {
    width: 100%;
    .checkin-tags {
      margin: 0.5em 0;
      .tags {
        margin-right: 1rem;
        &:nth-last-child(0) {
          margin: 0;
        }
        .tag {
          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .checkin-warning {
    width: 100%;
  }
  .checkin-table {
    .table-wrapper {
      width: 100%;
      .table-container {
        outline: 1px solid $grey-light;
        overflow-x: visible;
        overflow-y: auto;
       /* table {
          tr:nth-child(even) {
            background-color: #dfdfdf;
          }
        }*/
      }
    }
  }
}
.column {
  padding: 0rem 0.75rem;
}
.icon-filter {
  display: none;
  margin-top: -60px;
}
.filter-help {
  font-weight: 600;
  color: #00ffbc;
}

.container-buttons {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .buttons-row {
    padding: 0;
    .buttons-g {
      width: 100%;
      .button-c {
        margin: 3px;
        padding: 0;
      }
    }
  }
  .field {
    width: 100%;
  }
  .search {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 58px;
  }
  .table td {
    padding: 0;
  }
  .pagination.is-centered .pagination-previous {
    -ms-flex-order: 1;
    order: 1;
  }
  .pagination.is-centered .pagination-next {
    -ms-flex-order: 3;
    order: 3;
  }
  .pagination.is-centered .pagination-list {
    -ms-flex-order: 2;
    order: 2;
  }

  .button {
    padding-left: 0.55em;
    padding-right: 0.55em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-size: smaller;
  }
  .checkin {
    padding: 0;
    .checkin-tags-wrapper {
      order: 1;
      width: 100%;
    }
    .checkin-header {
      order: 2;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    .filter {
      order: 3;
      width: 100%;
    }
    .checkin-table {
      order: 4;
      width: 100%;
    }
    .checkin-warning {
      order: 5;
      width: 100%;
    }
  }
  .filter-menu {
    display: none;
    padding-top: 3%;
  }
  .icon-filter:hover ~ .filter-menu {
    display: block;
  }
  .filter-menu:hover {
    display: block;
  }
}
.tab-qr {
  overflow: hidden;
  width: 100%;
  ul {
    width: 100%;
    border: none;
    a {
      margin-right: 5px;
    }
    .is-active a {
      border-bottom: #00ffbc solid 5px;
    }
  }
}
.qr {
  margin: 0;
  section {
    margin: 0 !important;
  }
}

.container-options {
  flex-wrap: wrap;
}
.css-vj8t7z {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom: 1px solid #b5b5b5 !important;
}

.css-2o5izw {
  border-bottom: 1px solid #b5b5b5 !important;
  border-color: transparent !important;
  border-bottom: 1px solid #00ffbc !important;
  box-shadow: 0 0 0 1px transparent !important;
}
.css-1492t68 {
  color: #7a7a7a;
  font-size: 1rem;
  font-weight: 700;
}
.css-15k3avv {
  border: 2px solid #ccc !important;
  background-color: white !important;
  min-height: 350px !important;
  z-index: 1000 !important;
}

.is-checkradio[type="radio"] + label::before,
.is-checkradio[type="radio"] + label:before,
.is-checkradio[type="checkbox"] + label::before,
.is-checkradio[type="checkbox"] + label:before {
  border: 0.1rem solid gray !important;
}
// @media (min-width: 769px) {
// }
