.org-profile{
  .userData {
    padding: 80px;
    background-color: #f2f2f2;
    .title { 
      padding: 0 0 0 10px;
    }
    .label {
      margin-bottom: -5px;
    }
    .column {
      padding: 5px;  
    }
    .input {
      width: 80%;
    }
  }
  .org-data{
    background-color: $gray-lighter;
  }
  .document-zone {
    background-color: white;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .circle-img{
    position: relative;
    .avatar-img{
      background-size: cover;
      width: 170px;
      border-radius: 50%;
      height: 180px;
    }
    .change-img{
      position: absolute !important;
      top: 36%;
      left: 26%;
      z-index: 900;
    }
    &:after {
      content: '\A';
      position: absolute;
      border-radius: 50%;
      width: 55%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.3);
      opacity: 1;
    }
  }
}