.profile {
  padding: 3em 0 3em 3em;
  .org-profile {
    max-width: 100%;
    width: 100%;
    .profile-info {
      .user-info {
        padding: 1em 3em;
        .circle-img {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0.75rem auto;
          position: relative;
          height: 180px;
          width: 180px;
          .avatar-img {
            background-size: cover;
            width: 100%;
            border-radius: 50%;
            height: 100%;
          }
          .change-img {
            cursor: pointer;
            background-color: rgba($color: $black, $alpha: 0.25);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            position: absolute !important;
            top: 0;
            left: 0;
            transition: all ease 0.33s;
            height: 100%;
            width: 100%;
            z-index: 10;
            &:hover {
              opacity: 1;
            }
            svg {
              transition: all ease 0.33s;
              &:hover {
                fill: $primary;
              }
            }
          }
        }
        .change-password {
          padding: 1rem 0;
        }
        .label {
          font-weight: 900;
          margin-bottom: -5px;
        }
        .control {
          input {
            width: 100%;
          }
        }
      }
      .userData {
        padding: 80px;
        background-color: #f9f9f9;
        .title {
          padding: 0 0 0 10px;
        }
        .label {
          font-weight: 900;
          margin-bottom: -5px;
        }
        .column {
          padding: 5px;
        }
        input {
          width: 80%;
        }
        .rw-widget-container {
          border-radius: 0;
          border-bottom: 1px solid $grey-light;
        }
        .redes {
          .input-redes {
            position: relative;
            input {
              width: 100%;
            }
          }
        }
      }
    }
    .profile-data {
      margin-top: 2em;
      padding-right: 3em;
      .data-title {
        line-height: 1.1;
        margin-bottom: 2em;
        span {
          font-weight: 900;
        }
      }
      .tickets {
        background-color: #f9f9f9;
        height: 100%;
        width: 100%;
      }
    }
    .profile-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .document-zone {
    margin: 10px 0 0 0;
    padding: 0 10px;
    width: 80%;
    .control {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all ease 0.33s;
      &:hover {
        svg {
          fill: $primary;
        }
      }
    }
  }
  .rw-widget-container {
    width: 80%;
  }

  .button.is-primary {
    background-color: lightgray;
    &:hover {
      background-color: #00f0be;
    }
  }
  svg {
    fill: grey;
    &:hover {
      fill: #00f0be;
    }
  }
}

.org-data {
  background-color: "gray";
}
.document-zone {
  background-color: white;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .profile {
    overflow: hidden;
    padding: 0;
    width: 100%;
    .user-info {
      padding: 1em !important;
    }
    .user-data {
      padding: 1em !important;
      input {
        width: 100% !important;
      }
    }
    .profile-data {
      padding: 0 !important;
    }
    .document-zone {
      width: 100%;
    }
  }
}
