.container-calendar2 {
  padding: 0 !important;
}

.container-calendar2 .ant-card .ant-card-head {
  padding: 0 0 !important;
  min-height: 20px !important;
  height: 80px !important;
}

.container-calendar2 .ant-card .ant-card-head .ant-card-head-wrapper {
  min-height: 80px !important;
  padding: 0 !important;
}

.container-calendar2 .ant-card .ant-card-head .ant-card-extra {
  padding: 0 !important;
  text-align: right !important;
}

.container-calendar2 .ant-card .ant-card-head .ant-page-header {
  padding: 0 !important;
}

.cardtabs .ant-card-head-wrapper {
  display: none;
}

.cardtabs .ant-card-head {
  padding: 0 !important;
}

.cardtabs .ant-card-body {
  border: none;
}

.container-calendar2 .card-header {
  padding: 0 !important;
}

.container-calendar2 .ant-card .ant-card-head .ant-page-header .ant-page-header-heading-left {
  margin: 0 !important;
}

.container-calendar2 .ant-card .ant-card-head .ant-card-head-title {
  padding: 0 !important;
}

.ant-popover-inner-content {
  padding: 10px !important;
}

/* #preloader {
  width: 100%;
  height: 51rem !important;
  z-index: 0 !important;
  position: relative !important;
  overflow: auto !important;
} */

.ant-menu-overflow {
  display: block !important;
}

.preloaderBg {
  position: fixed;
  z-index: 10;
  width: 100vw;
  text-align: center;
  height: 100vh;
  opacity: 0.8;
  margin-top: 15%;
  overflow: hidden;
}

.preloaderIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
  opacity: 0.8;
}

.sizeBackground {
  width: 150px;
}

.preloader {
  margin: auto;
  background: url('https://firebasestorage.googleapis.com/v0/b/eviusauth.appspot.com/o/Public%2FnewLogoEvius.svg?alt=media&token=0f24d024-6115-467e-9d64-307ee13d69d3')
    no-repeat center;
  background-size: 200px;
  width: 300px;
  height: 300px;
  opacity: 0.8;
}

body.geniality .preloader {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/geniality-sas.appspot.com/o/public%2FImagotipo.dark.png?alt=media&token=9e87f8ab-34ee-456f-9dcd-c51286f1d218');
}

.preloader2 {
  border: 5px solid #f3f3f3;
  border-top: 5px solid black;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: spin 1s ease-in-out infinite;
  position: relative;
  margin: auto;
  top: -280px;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 10px solid #2593fc;
  }
  100% {
    transform: rotate(360deg);
    border-top: 10px solid #30d2e0;
  }
}
