div.icon-header {
  width:112px;
  height:28px
}

footer {
  .soc {
    a {
      margin: 10px;
      text-decoration: none;
    }
  }
  .icon-footer {
    width:112px;
    height:28px
  }
}

.main{
  padding-top: 6rem;
  .columns {
    margin: 0;
  }
}

section.home{
  aside{
    left: 0;
    position: fixed;
    padding: .75rem;
  }
  div.dynamic-content{
    min-height: 100%;
    position: relative;
    padding: .75rem;
  }
}

div.home {
  .card {
    .card-image{
      &:after {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        opacity: 1;
      }
    }
    .header-event {
      position: absolute;
      top: 7%;
      width: 100%;
      z-index: 2;
      div.dates {
        margin-left: 1.5rem;
        time{
            text-transform: uppercase;
        }
      }
      div.cats {
        margin-right: 1.5rem;
      }
    }
    .img-see {
      z-index: 2;
      top: 70%;
      left: 70%;
      position: absolute;
    }
    .card-content{
      .media{
        .media-content{
          border-right: 2px solid $gray-darker;
        }
      }
    }
  }
}