div.icon-header {
  height: 20px;
  width: 115px;
}

.title-home{
  font-weight: 900;
}

.main{
  padding-top: 6rem;
  .columns {
    margin: 0;
  }
}

.menu-filter{
  display: flex;
  flex-direction: row;
}

section.home{
  padding: 0 .75rem;
  div.dynamic-content{
    min-height: 100%;
    position: relative;
    padding: 0 .75rem;
    .column {
      padding: 0 .75rem 1.5rem .75rem;
    }
  }
}

.filter-bar {
  display: none; //temporal
  padding: 1rem 2rem;
  width: 100%;
}


@media only screen and (max-width: $breakpoint-mobile) {
  .main {
    padding-top: 3em;
  }
  .media{
    flex-direction: row;
  }
}