// Logo evius header

div.icon-header {
  width: 115px;
  margin-right: 0px;
  top: 6px;
  @media screen and (max-width: '1030px') {
    position: absolute;
    top: 6px;
    left: 35%;
  }
}

// Menu de usuario header
.avatar_menu-user {
  background: $color-evius !important;
}

.name_menu-user {
  color: initial;
  @media screen and (max-width: '1030px') {
    display: none;
  }
}

.icon-menu {
  cursor: pointer;
}

.title-home {
  font-weight: 900;
}

.ant-layout-header {
  background: #fff !important;
  height: 64px !important;
  padding: 0 30px !important;
}

.main {
  // margin-top: 65px;

  .columns {
    margin: 0;
  }
}

.menu-filter {
  display: flex;
  flex-direction: row;
}

section.home {
  padding: 0 0.75rem;

  div.dynamic-content {
    min-height: 100%;
    position: relative;
    padding: 0 0.75rem;

    .column {
      padding: 0 0.75rem 1.5rem 0.75rem;
    }
  }
}

.filter-bar {
  display: none; //temporal
  padding: 1rem 2rem;
  width: 100%;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .media {
    flex-direction: row;
  }
}
