div.icon-header {
  width: 115px;
  margin-right: 50px;
}

.icon-menu {
  cursor: pointer;
}
.title-home {
  font-weight: 900;
}

.ant-layout-header {
  background: #fff !important;
}
.main {
  .columns {
    margin: 0;
  }
}

.menu-filter {
  display: flex;
  flex-direction: row;
}

section.home {
  padding: 0 0.75rem;
  div.dynamic-content {
    min-height: 100%;
    position: relative;
    padding: 0 0.75rem;
    .column {
      padding: 0 0.75rem 1.5rem 0.75rem;
    }
  }
}

.filter-bar {
  display: none; //temporal
  padding: 1rem 2rem;
  width: 100%;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .main {
    padding-top: 3em;
  }
  .media {
    flex-direction: row;
  }
}
