.button-Agenda {
  background-color: #fafafa;
  border-color: #333f44;
  border-radius: 9px;
  font-size: 12px;
  color: #0a0a0a !important;
  margin-right: 4px;
  margin-top: 5px;
}

.button-Agenda:hover {
  color: white !important;
}
.ant-timeline-item-last > .ant-timeline-item-content {
  min-height: 22px;
}

.ant-timeline-item-content {
  position: relative;
  top: -7.001px;
  margin: 0px 0 0 -2px;
  word-break: break-word;
}

.ant-timeline-item {
  position: relative;
  margin: 0;
  padding-bottom: 11px;
  font-size: 14px;
  list-style: none;
}