.titulo{
    font-weight: 900;
    margin-bottom: 60px
}
.cabecera{
    text-align: center
}
.verMas{
    font-weight: 900;
    color: #00f0be;
    position: absolute;
    right: 8px;
    bottom: 1px;
    font-size: 26px;
}
.verMas > span{
    position: absolute;
    right: 80px;
    top: 12px;
}