.aside {
  background: #f9f9f9;
  padding: 2rem !important;
  min-height: 100vh;
  height: auto;
  .menu-label{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    text-transform: none;
    letter-spacing: 0.1px;
    width: 100%;
    .icon {
      margin-left: 0.5em;
      i {
        border: solid black; 
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        &.up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }
        &.down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
  }
  .item {
    border-radius: 2px;
    font-weight: bold;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 0.75em;
    cursor: pointer;
  }
  .active {
    color: $primary !important;
  }
}

.event-aside {
  height: auto;
  margin: 5.5rem 0;
  padding: 1.25rem 2rem !important;
  .subtitle {
    display: inline-flex;
    align-items: center;
    word-break: normal;
    .icon {
      margin-left: 0.5em;
    }
  }


  .menu-label{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    letter-spacing: 0.1px;
    text-transform: none;
    width: 100%;
    .item {
      color: $grey;
      padding-left: 1em;
      &.active {
        border-left: 2px solid $primary;
        color: $primary;
        padding-left: calc(1em - 2px);
      }
    }
    .icon {
      margin-left: 0.5em;
      i {
        border: solid #7a7a7a;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        &.up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }
        &.down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
  }
  .menu-list {
    .item {
      border-radius: 0;
      color: $grey-light;
      margin: 0.75rem 0.75rem 0.75rem 1rem;
      padding: 0 0 0 1rem;
      &.active {
        border-left: 2px solid $primary;
        color: $primary;
        padding-left: calc(1em - 2px);
      }
    }
  }
  .active {
    color: $primary !important;
  }
}
.dropdown-content{
  font-weight: 700;
  padding: 1rem;
  .menu-label{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    letter-spacing: .1px;
    text-transform: none;
    width: 100%;
  }
  a{
    color: #7a7a7a;
    padding-left: 1em;
    .item{
      .active{
        border-left: 2px solid #00f0be;
        color: #00f0be;
        padding-left: calc(1em - 2px);
      }
    }
  }
  ul{
    .item{
      color: #b5b5b5;
      margin: .75rem .75rem .75rem 1rem;
      padding: 0 0 0 1rem;
      .active{
        border-left: 2px solid #00f0be;
        color: #00f0be;
        padding-left: calc(1em - 2px);
      }
    }
  }
}
.icon-menu{
  margin-left: 40px;
}
.is-hidden-mobile{
  box-shadow: none;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .aside {
    min-height: 0;
    .menu-label {
      .icon {
        margin-left: auto;
      }
    }
  }
  .event-aside {
    background-color: #f9f9f9;
    border-right: none;
    margin: 0;
  }
}