div.event-datos{
  label{
    color: #363636 !important;
  }
  div.empty{
    a{
      color: inherit;
      border: 1px solid black;
    }
  }
  div.header{
    display: flex;
    button{
      text-decoration: none;
    }
  }
}
