.player-wrapper {
  width: auto; // Reset width
  height: auto; // Reset height
}
.react-player {
  padding-top: 56.25%; // Percentage ratio for 16:9
  position: relative; // Set to relative
}

.react-player > div {
  position: absolute; // Scaling will occur since parent is relative now
}
.container-bannerEvent{
  width: 100%;
  overflow: hidden;
  height: 540px;
  @media only screen and (max-width: $breakpoint-mobile) {
    height: auto;
  }
}
.name-event {
  display: inline-flex;
  color: #4462dc;
  font: Italic 12px/15px Montserrat;
  align-items: center;
  word-break: normal;
}
.event-main {
  /*max-width: 83%;*/
  padding: 0;
  .event-wrapper {
    margin: 1rem 0;
    padding: 0;
    .title-section {
      font-weight: 700;
      font-size: 1em;
      padding: 5px;
    }
    .subtitle-section {
      font-weight: 500;
      color: $grey-dark;
      font-size: 1em;
    }
    .event-inv-send {
      background-color: #f2f2f2;
      border-radius: 10px;
      padding: 0;
      .title-col {
        padding: 1.25rem;
      }
      .big-col {
        background: $white;
        border-radius: 10px 10px 0 0;
        .column {
          padding: 0.75rem 1.5rem;
          &:first-child {
            border-right: solid 1px $grey-lighter;
          }
        }
        .event-inv-table {
          .event-inv-subtitle {
            color: $grey-light;
            font-weight: 900;
            margin-bottom: 10px;
          }
          .event-inv-check {
            &:checked + label {
              &:before {
                border: none;
              }
            }
            &:focus + label {
              &:before {
                outline: none;
              }
            }
          }
          .event-inv-check + label {
            &:before {
              border-radius: 0;
            }
            &:after {
              left: 0.4rem;
              height: 0.6rem;
            }
          }
        }
        .event-inv-users {
          margin-bottom: 1.5em;
          .event-inv-subtitle {
            color: $grey-light;
            font-weight: 900;
            margin-bottom: 10px;
          }
          .event-inv-option {
            line-height: 1.6;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            label {
              color: $grey;
              font-weight: 700;
              line-height: 1;
              margin: 0;
            }
          }
          .btn-list {
            margin: 0;
            width: 100%;
          }
        }
      }
    }
    .event-inv-selected {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      .inv-selected-wrapper {
        background-color: #f2f2f2;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: 700;
        padding: 0.75rem 0;
        .inv-selected-drop {
          justify-content: center;
          width: 100%;
          .dropdown-trigger {
            .button {
              border: none;
              background: transparent;
              text-decoration: none;
            }
          }
          .dropdown-menu {
            width: 100%;
            .inv-selected-content {
              background-color: #f2f2f2;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              border: none;
              box-shadow: none;
              padding: 1.5rem;
              .field {
                margin-bottom: 1.5em;
                .control {
                  margin: 0;
                }
              }
              .inv-selected-list {
                min-height: 250px;
                max-height: 500px;
                margin-bottom: 1.5em;
                overflow-y: auto;
                .media {
                  padding-right: 1em;
                  overflow: hidden;
                  .media-content {
                    overflow: hidden;
                    .subtitle {
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                  }
                }
                &::-webkit-scrollbar {
                  width: 10px;
                }
                &::-webkit-scrollbar-button {
                  display: none;
                }
                &::-webkit-scrollbar-thumb {
                  background-color: $grey-lighter;
                  border-radius: 10px;
                  width: 10px;
                }
              }
              .btn-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                .control {
                  margin-bottom: 0.75rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
.event-vertical-line {
  background: $grey-lighter;
  margin: 6.5em 0;
  height: 50vh;
  padding: 0 0.5px;
  width: 1px;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .event-main {
    max-width: 100%;
  }
  .event-vertical-line {
    display: none;
  }
  .name-event {
    .title {
      font-size: 1.3rem;
    }
  }
  .event-inv-send {
    .big-col {
      .column {
        &:first-child {
          border-right: none !important;
        }
      }
    }
  }
}
