// contenedor general.
.content-zoom {
  position: fixed;
  z-index: 3;
  right: 0%;
  top: 0%;
  height: 90%;
  min-width: 100%;
  min-height: 100%;
  background-color: white;
  border: 1px solid rgb(160, 157, 157);
  border-radius: 3px;
  .ant-btn-header {
    border: none;
    background-color: transparent;
    height: auto;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    right: 0;
    bottom: 7%;
    height: 90%;
    min-width: 90%;
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
  @media only screen and (max-width: $breakpoint-mobile) and (orientation: landscape) {
    bottom: 11%;
  }
}

.buttons-header {
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  border-bottom: 0.8px solid rgb(160, 157, 157);
  border-radius: 3px 3px 0px 0px;
  .title-header {
    margin-top: 4px;
    margin-left: 15px;
    color: rgb(190, 13, 13);
    .icon-live {
      color: red;
      padding-bottom: 3px;
    }
  }
 
  button {
    .icon-close {
      color: white;
      border-radius: 100px;
      border: 1px solid;
      width: 1.5rem;
      font-size: 12.5px;
      background-color: red;
    }
  }
  .tab-button{
    width: 311px !important;   
  } 
  @media only screen and (max-width: $breakpoint-mobile) {
      .tab-button{
        width: 311px !important;   
      }
  }
}

// *************** Iframe zoom *********************//
.aspect-ratio-box {
  width:100%;
  position:relative;
  padding-top:57%;
  height: 0;
  border:1px solid green;
  background-color:#31d871;
  @media only screen and (min-width: $breakpoint-mobile) {
    width: 275px;
  }
}
.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.iframe-zoom {
  min-width: auto;
  width: 100%;
  height: 100%;
}

.button__surveyIframe {
  @media only screen and (min-width: $breakpoint-mobile) {
    position: absolute !important;
    top: 35px;
    right: 100px;
  }
}

.surveyIframe {
  @media only screen and (max-width: $breakpoint-mobile) {
    position: absolute;
    min-width: 50%;
    max-height: 90%;
    top: 37px;
  }
}

// Estilos para pantalla completa
.fullscreen {
  width: 100%;
  height: 95%;
  display: flex;
  background-color: white;
  .parpadea{
    // position: absolute;
    // right: 6px;
    display: none;
  }
  @media only screen and (max-width: $breakpoint-mobile) {
    display: block;
    height: 100%;
    .parpadea{
      position: absolute;
      right:6px;
      top: 12%;
    }
  }
}


.survyCard {
  min-width: 45vw;
  overflow: hidden;
  .ant-page-header {
    padding: 0 !important;
    margin: 0 !important;
  }
  .sv-progress__text {
    margin-left: 0px;
  }


  .sv-body__footer {
    padding: 0;
  }
  
  /* Tener cuidado ser más estrategicos al estilizar esto se tira el diseno */
  .ant-card-body canvas {
    padding: 13px !important;
  }

  .ant-card-body {
    text-align: initial;
    margin-bottom: 15px;
    // estilos para pantalla movil en el padding
    @media only screen and (max-width: $breakpoint-mobile) {
      padding: 0px !important;
    }
  }
  @media screen and (max-width: $breakpoint-mobile){ 
    .ant-list-item {
      display: table!important;
      margin-left: 12%;
    }
  }
}
// vimeo
.platform-vimeo{
  width: 100%;
  @media screen and (max-width: $breakpoint-mobile){ 
    height: 100%;
  }
  // @media (orientation:){
  //   .ant-col-md-24 {
  //     display: flex;
  //     flex: 0 0 50%;
  //     max-width: 100%;
  //   }
  // }
}
//estilo de zoom de collapsed
.zoom-collapsed{
  position: relative;
  .zoom-collapsed_button{
    position: absolute;
    right: 103%;
    z-index: 100000;
  }
  .zoom-collapsed_tabs{
    padding: 0% 7%;
    width: 400px;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #333F44;
    font-weight: 500;
    // margin-left: 13px;
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
    position: relative;
    display: flex;
    transition: transform 0.3s;
    text-align: center;
  }
  // .ant-tabs-ink-bar {
  //   // width: 67px !important;
  //   // left: 83px ;
  // }
}
//estilo del chat vimeo
.chat-vimeo{
  width: 100vw;
  height: 80vh; 
  padding: 2px;
  @media screen and (max-width: $breakpoint-mobile){ 
    width: 80vw;
  }
}

//estilos del ranking-listadojuegos
.container-ranking{
  overflow-y:scroll;
  height: 341px;
  .ranking-user{
  border: 2px solid #8ce1f0;
  }
}
.container-ranking::-webkit-scrollbar{
  width:9px;
}
.container-ranking::-webkit-scrollbar-thumb {
  background-color: rgb(140, 225, 240);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.container-ranking::-webkit-scrollbar-track-piece{
  background-color: #f5f5f5;
}
.card-games-ranking{
  width: 304px;
  padding: 5px;
  .ant-card-body {
    padding: 10px;
  }
  
}



// Estilos para pantalla media
.mediumScreen {
  min-height: 75%;
  min-width: 70%;
  height: 75%;
  .parpadea{
    position: absolute;
  }
}

// Estilos para minimizar la pantalla
.minimizeScreen {
  height: 0%;
  top: 95%;
  .parpadea{
    position: absolute;
  }
}

// Boton de encuestas

.parpadea {
  animation-name: parpadeo;
  animation-duration: 2.5;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  background-color: #31d871 !important;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 4px 4px 15px rgba(24, 144, 255, 0.5) !important;
  color: black !important;
  border-radius: 0 !important;
  &:hover {
    color: white !important;
  }
  &:focus {
    color: white !important;
  }
}

@-moz-keyframes parpadeo {
  50% {
    background-color: rgb(140, 228, 220);
  }

  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1%);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2%);
  }
}

@-webkit-keyframes parpadeo {
  50% {
    background-color: rgb(191, 215, 240);
  }

  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1%);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2%);
  }
}

@keyframes parpadeo {
  50%,
  70% {
    background-color: rgb(136, 202, 199);
  }

  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1%);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2%);
  }
}
