// contenedor general.
.content-zoom {
  position: fixed;
  z-index: 3;
  right: 2%;
  bottom: 5%;
  height: 80%;
  min-width: 60%;
  min-height: 80%;
  background-color: rgba(134, 134, 134, 0.753);
  color: red !important;
}

.buttons-header {
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  border: 0.8px solid rgb(160, 157, 157);
  .title-header {
    margin-top: 4px;
    margin-left: 15px;
    color: black;
    .icon-live {
      color: red;
      padding-bottom: 3px;
    }
  }
  button {
    .icon-close {
      color: white;
      border-radius: 100px;
      border: 1px solid;
      width: 1.5rem;
      font-size: 12.5px;
      background-color: red;
    }
  }
}

// Estilos para pantalla completa
.fullscreen {
  width: 100%;
  height: 100%;
}

// Estilos para pantalla media
.mediumScreen {
  min-height: 75%;
  min-width: 70%;
  height: 75%;
}

// Estilos para minimizar la pantalla
.minimizeScreen {
  height: 0%;
  top: 95%;
}
