// contenedor general.
.content-zoom {
  position: fixed;
  z-index: 3;
  right: 0%;
  top: 0%;
  height: 85%;
  min-width: 80%;
  min-height: 100%;
  background-color: white;
  border: 1px solid rgb(160, 157, 157);
  border-radius: 3px;
  .ant-btn-header {
    border: none;
    background-color: transparent;
    height: auto;
  }

  // .content-zoom {
  // position: fixed;
  // z-index: 3;
  // right: 2%;
  // top: 0%;
  // height: 100%;
  // max-width: 100%;
  // min-height: 80%;
  // background-color: rgba(134, 134, 134, 0.753);
  // color: red !important;
  // }

  @media only screen and (max-width: $breakpoint-mobile) {
    right: 0;
    bottom: 7%;
    height: 90%;
    min-width: 90%;
    min-height: 80%;
    width: 100%;
  }
  @media only screen and (max-width: $breakpoint-mobile) and (orientation: landscape) {
    bottom: 11%;
  }
}

.buttons-header {
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  border-bottom: 0.8px solid rgb(160, 157, 157);
  border-radius: 3px 3px 0px 0px;
  .title-header {
    margin-top: 4px;
    margin-left: 15px;
    color: black;
    .icon-live {
      color: red;
      padding-bottom: 3px;
    }
  }
  button {
    .icon-close {
      color: white;
      border-radius: 100px;
      border: 1px solid;
      width: 1.5rem;
      font-size: 12.5px;
      background-color: red;
    }
  }
}

// *************** Iframe Zoom *********************//
.iframe-zoom {
  min-width: auto;
  width: 100%;
  height: 100%;
}

.button__surveyIframe {
  @media only screen and (min-width: $breakpoint-mobile) {
    position: absolute !important;
    top: 35px;
    right: 100px;
  }
}

.surveyIframe {
  @media only screen and (max-width: $breakpoint-mobile) {
    position: absolute;
    min-width: 50%;
    max-height: 90%;
    top: 37px;
  }
}

// Estilos para pantalla completa
.fullscreen {
  width: 100%;
  height: 95%;
  display: flex;
  background-color: white;
  @media only screen and (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.survyCard {
  min-width: 45vw;
  min-height: 100vh;
  max-height: 100vh;
  border: none !important;
  // background-image: url("../BG-1920x1080px.png") !important;
  background-size: cover;
  // * {
  //   color: white !important;
  // }
  .ant-card-body {
    padding: 15px !important;
  }

  .ant-card-body {
    text-align: initial;
  }
}

// Estilos para pantalla media
.mediumScreen {
  min-height: 75%;
  min-width: 70%;
  height: 75%;
}

// Estilos para minimizar la pantalla
.minimizeScreen {
  height: 0%;
  top: 95%;
}

// Boton de encuestas

.parpadea {
  animation-name: parpadeo;
  animation-duration: 2.5;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  background-color: #1890ff !important;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 4px 4px 15px rgba(24, 144, 255, 0.5) !important;
  color: white !important;
  border-radius: 0 !important;
  &:hover {
    color: white !important;
  }
  &:focus {
    color: white !important;
  }
}

@-moz-keyframes parpadeo {
  50% {
    background-color: rgb(140, 228, 220);
  }

  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1%);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2%);
  }
}

@-webkit-keyframes parpadeo {
  50% {
    background-color: rgb(191, 215, 240);
  }

  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1%);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2%);
  }
}

@keyframes parpadeo {
  50%,
  70% {
    background-color: rgb(136, 202, 199);
  }

  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1%);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2%);
  }
}

// Provisional, ya que estos estilos deben ir desde el Api
.survyCard {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/eviusauth.appspot.com/o/BG-1920x1080px.png?alt=media&token=aa4421e0-cd6e-473f-b185-ec12efaffe02") !important;
  background-size: cover !important;
  * {
    color: #fff !important;
  }
}
