.main-exhibitor-list,
.main-exhibitor-list *,
.main-exhibitor-list :after,
.main-exhibitor-list :before {
  box-sizing: border-box;
}

/**
 * Desktop
 */
@media (min-width: 768px) {
  .main-exhibitor-list .scroll-down {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 2rem;
    right: 2rem;
    font-size: 10px;
  }

  .main-exhibitor-list .scroll-down-label {
    margin-right: 5px;
    text-align: right;
    color: white !important;
  }

  .main-exhibitor-list .scroll-down-image {
    width: 36px;
  }

  .main-exhibitor-list .scroll-down img {
    width: 100%;
    height: auto;
  }

  .main-exhibitor-list {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    z-index: 5;
  }

  .iso-exhibitor-list {
    overflow-y: scroll;
    height: 260vh;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translate(-60%, -44%);
  }

  .iso-exhibitor-list-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 80vh 10vw 80vh 10vw;
    background-color: #e6e3d7;
  }
  .iso-exhibitor-list-item {
    position: relative;
    width: 50%;

    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

  .iso-exhibitor-list-item:before {
    content: '';
    display: block;
    padding-top: 80%;
  }

  .iso-exhibitor-list-item-image {
    position: absolute;
    left: 5%;
    top: 0;
    width: 78%;
    height: 100%;
    transform: rotateZ(-45deg);
  }

  .iso-exhibitor-list-item img {
    width: 100%;
    height: 100%; /* Ajustar aspecto de la imagen */
  }

  .iso-exhibitor-list-item-description {
    position: absolute;
    left: 20%;
    bottom: 3rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
  }

  .iso-exhibitor-list-item-description span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #d49141;
    border-radius: 50%;
  }
}

/**
 * Mobile
 */
@media (max-width: 768px) {
  .main-exhibitor-list .scroll-down { display: none; }

  .iso-exhibitor-list-item {
    display: block;
    position: relative;
    width: 100%;
  }

  .iso-exhibitor-list-item img {
    width: 100%;
    height: auto;
  }

  .iso-exhibitor-list-item-description {
    position: absolute;
    width: 40%;
    left: 1.5rem;
    bottom: 2rem;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    color: black;
  }

  .iso-exhibitor-list-item-description span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #d49141;
    border-radius: 50%;
  }
}
